
# -------------------------
# Terraform
# -------------------------
# Local .terraform directories Local cache, not needed in repo
**/.terraform/*
.terraform.lock.hcl

# Terraform state files  Contain resource IDs and sometimes secrets
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Variable files (if they contain secrets)
# *.tfvars
*.tfvars.json

# Sensitive key files Must never be committed.
*.pem
*.key
id_rsa
id_rsa.pub

# Backend override (dynamic config) Dynamic file created in workflow, should not be committed
backend_override.tf

# Plan files Generated during CI/CD, not needed in repo
*.plan
tfplan

# Ignore any temporary files
*.tmp


# -------------------------
# AWS CLI
# -------------------------
# AWS CLI configuration folder (contains credentials)
.aws/



# -------------------------
# General Secrets
# -----------------------
# Environment variable files (e.g., dev.env, prod.env).
# Usually contain secrets like API keys, database credentials.
*.env
# Files explicitly storing secrets (e.g., aws.secret, azure.secret).
# Could include tokens, passwords, or encryption keys.
*.secret
# Configuration files (e.g., app.config, settings.config).
# Often contain system-specific paths or credentials.
*.config
# Credential files (e.g., aws.credentials, db.credentials).
# Typically store usernames, passwords, or access tokens.
*.credentials


# -------------------------
# IDE / Editor
# -------------------------
# This is the folder created by Visual Studio Code.
# It contains workspace settings, extensions, and launch configurations.
# These are machine-specific and shouldn’t be shared in the repo
.vscode/
