name: Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Choose environment"
        required: true
        type: choice
        options:
          - dev
          - stage
          - prod
      action:
        description: "Choose action to perform"
        required: true
        type: choice
        options:
          - apply
          - destory



   


    
